* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Roboto", sans-serif;
  color: rgb(236, 236, 236);
  font-size: 14px;
}

body {
  background: rgb(26, 26, 26);
}

.container {
  width: 100%;
  margin-bottom: 150px;
}

.content {
  display: grid;
  align-items: center;
  justify-items: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(182, 182, 182);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
  padding-left: 10px;
}

.error-color {
  color: rgb(255, 43, 43);
  font-weight: bold;
}

#tabela-impressoras {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  font-size: 12px;
}

#tabela-impressoras td {
  border: none;
}

#tabela-impressoras th {
  padding: 3px;
  background-color: #222;
  border: none;
  cursor: n-resize;
}

#tabela-impressoras tr {
  background-color: #333;
  color: white;
  line-height: 20px;
  border-bottom: 1px solid #111;
}

#tabela-impressoras tr:hover {
  transition: 0.5s;
  background-color: #444;
  border-bottom: 1px solid #444;
}

/* bottom bar */

#bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #333;
  box-shadow: 0px -1px 32px 6px #000;
}

#bottom-bar-icons {
  width: fit-content;
  margin: 0px auto;
}

.bottom-bar-icon {
  margin: 10px;
  float: left;
}

.bottom-bar-icon i:hover {
  transition: 0.5s;
  color: #888;
}

/* settings page */

.card-view {
  width: 80%;
  display: block;
  overflow: auto;
  margin: 0px auto;
  padding: 10px;
}

.flip-card-settings {
  width: 200px;
  height: 60px;
  background-color: transparent;
  margin: 5px;
  float: left;
  color: #FFF;
}

.flip-card-front {
  padding: 10px;
  border-radius: 10px;
  background-color: #333;
}

.flip-card-back {
  padding: 5px;
  border-radius: 10px;
  background-color: #b30000;
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-settings:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.submit-settings-delete {
  width: 100%;
  height: 50px;
  text-align: center;
  background-color: transparent;
}

.btn-float-1 {
  position: fixed;
  bottom: 70px;
  right: 10px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  background-color: #333;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid gold;
}

.btn-float-1:hover {
  transition: 1s;
  background-color: rgb(33, 143, 0);
}

.btn-float-1:active {
  transition: 0.1s;
  border: 2px solid #333;
}

.btn-float-2 {
  position: fixed;
  bottom: 130px;
  right: 10px;
}

/* setting modal */

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4d4d4db3;
  transition: all 0.4s;
  color: #FFF;
}

.modal:target {
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
}

.modal-content {
  border-radius: 10px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #333;
  padding: 1em 2em;
}

.modal-footer {
  text-align: right;
  margin-top: 50px;
}

.modal h1 {
  margin-bottom: 30px;
}

.modal-button {
  display: inline-block;
  text-align: center;
  width: 150px;
  margin-top: 20px;
  padding: 10px;
  text-decoration: none;
  background-color: #555;
  color: #FFF;
  border-radius: 3px;
}

.modal-close i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #FFF;
  text-decoration: none;
}

.modal-close i:hover {
  transition: 0.5s;
  color: #999;
}

.btn-confirm {
  margin-right: 15px;
}

.btn-confirm:hover {
  transition: 0.5s;
  background-color: rgb(33, 143, 0);
}

.btn-cancel:hover {
  transition: 0.5s;
  background-color: #b30000;
}

.form-group {
  margin-top: 20px;
  width: 100%;
  height: 30px;
}

.form-group label {
  padding: 10px;
  margin-right: 10px;
  width: 100px;
  display: inline-block;
  text-align: right;
}

.form-group input {
  padding: 10px;
  color: #000;
  width: 250px;
  font-weight: bold;
}

.modal-buttons {
  width: fit-content;
  margin: 0px auto;
  margin-top: 20px;
}

/* loader */

.loader {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  bottom: 70px;
  right: 10px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  background-color: #333;
}

.loader:target {
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
}

.btn-active-green {
  background-color: rgb(33, 143, 0);
}

/* Details */

.card-details {
  width: 170px;
  padding: 0px;
  border-radius: 10px;
  margin: 3px;
  float: left;
  color: #FFF;
  background-color: 666;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

#card-details-online {
  background-color: #058f00;
}

#card-details-online:hover {
  transition: 0.5s;
  background-color: #06b600;
}

#card-details-offline {
  background-color: #b30000;
}

#card-details-offline:hover {
  transition: 0.5s;
  background-color: #d60000;
}

#modal-details {
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
  background-color: #333;
}

#modal-details .modal-content {
  background-color: #666;
}

#modal-details h1 {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

#modal-details .modal-buttons {
  margin-top: 50px;
}

#modal-details b {
  margin-right: 10px;
  width: 150px;
  display: inline-block;
  text-align: right;
}

#modal-details .form-group {
  padding: 0px;
  margin: 0px;
}